:root {
  --max-width: 100vw;
  --border-radius: 0px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* Background is white */
  --background-rgb: 255, 255, 255;

  /* Text (foreground) color is black */
  --foreground-rgb: 0, 0, 0;

  /* Card background and text colors */
  --card-background-rgb: 255, 255, 255;
  --card-text-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* Background and text colors */
  background-color: rgb(var(--background-rgb)) !important;
  color: rgb(var(--foreground-rgb)) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiTypography-root,
.MuiTextField-root,
.MuiDialogTitle-root,
.MuiDialogContentText-root,
.MuiDialogContent-root {
  /* Ensure general MUI components have black text */
  color: rgb(var(--foreground-rgb)) !important;
}

.MuiToolbar-root {
  background-color:#1976d2 !important;
}

.MuiToolbar-root .MuiTypography-root {
  color: #ffffff !important;
}

/* Targeting MUI buttons with variant='contained' and primary color */
.MuiButton-containedPrimary {
  color: #ffffff !important; /* Text color for contained primary buttons */
  
}

/* Optionally, you can ensure the background color stays blue */
.MuiButton-containedPrimary {
  background-color: #1976d2 !important; /* Replace with your primary blue color */
}


/* Specifically targeting MUI Cards */
.MuiCard-root {
  background-color: rgb(var(--card-background-rgb)) !important;
}

.MuiCard-root .MuiTypography-root,
.MuiCard-root .MuiCardContent-root {
  color: rgb(var(--card-text-rgb)) !important;
}

.MuiOutlinedInput-root {
  color: rgb(var(--foreground-rgb)) !important;
}

.MuiButton-root {
  /* Keep buttons as they are to preserve their color scheme */
  color: inherit;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
